<div class="container">
    <div class="login-container">
        <div class="avatar"><img src="../../../assets/images/poplogo.png"></div>
        <div class="form-box">
            <form name="adminlogin" novalidate>
                <input name="user" type="text" ng-model="vm.adminusername" placeholder="username" required />
                <input type="password" ng-model="vm.adminpassword" placeholder="password" required />
                <button class="btn btn-info btn-block login" ng-click="vm.login(adminlogin.$invalid)">Login</button>
            </form>
        </div>
    </div>
</div>